In [26]:
# Task 4: Simulate File Append Operation
# Use StringIO to simulate appending CSV 
# data: create a buffer, write initial CSV
# data, then move the cursor to the end and
# write more CSV rows manually. Finally, reset
# cursor and read full data into a DataFrame.
import pandas as pd
from io import StringIO

covid_data = """Country,Deaths,Confirmed Cases,Recoverd,Date\n
                Pakistan,20,100,80,20122019\n
                India,25,150,125,21112019\n
                USA,80,500,420,19012020\n
                Russia,120,300,180,11022020\n
                China,150,1000,850,31122019"""
                
csv_data = StringIO(covid_data)
df = pd.read_csv(csv_data)
df

                    Country  Deaths  Confirmed Cases  Recoverd      Date
0                  Pakistan      20              100        80  20122019
1                     India      25              150       125  21112019
2                       USA      80              500       420  19012020
3                    Russia     120              300       180  11022020
4                     China     150             1000       850  31122019

In [27]:
df['Date'] = pd.to_datetime(df['Date'] , format = '%d%m%Y')

df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

modified_data = df.drop(columns='Date')
modified_data

,Country,Deaths,Confirmed Cases,Recoverd,Day,Month,Year
0,Pakistan,20,100,80,20,12,2019
1,India,25,150,125,21,11,2019
2,USA,80,500,420,19,1,2020
3,Russia,120,300,180,11,2,2020
4,China,150,1000,850,31,12,2019

In [28]:
csv_buffer = StringIO()
modified_data.to_csv(csv_buffer, index=False)
csv_buffer = csv_buffer.getvalue()
print(csv_buffer)

Country,Deaths,Confirmed Cases,Recoverd,Day,Month,Year
                Pakistan,20,100,80,20,12,2019
                India,25,150,125,21,11,2019
                USA,80,500,420,19,1,2020
                Russia,120,300,180,11,2,2020
                China,150,1000,850,31,12,2019